[Unit]
Description=Extracts new gzip file from the cache queued directory
After=squid.service
After=httpd.service

[Service]
Type=forking
ExecStart=/home/appch2com/scripts/extract_queued.sh
User=root
TimeoutStartSec=0

[Install]
WantedBy=default.target
