PGNHOME=/mnt/PGNs
INCOMINGDIR=$PGNHOME/incoming
QUEUEDIR=$PGNHOME/queued
BACKUPDIR=$PGNHOME/backup
APPMAX=1
LOWTHRESHOLD=10000
USRDIR=/home/appch2com
WEBHOME=$USRDIR/public_html
BINDIR=$USRDIR/bin
APPDIR=$USRDIR/scripts
ELOCK=$APPDIR/.elock
CLOCK=$APPDIR/.clock
HASHCOLLISIONS=ignore
SLEEPDELETIONS=10
